@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 97vh;
    width: 97vw;
    margin: 0;
    background-image: linear-gradient(to top, rgb(158, 202, 158), rgb(232, 238, 231));
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1{
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

menu{
    display: flex;
    flex-wrap: wrap;
}

menu p{
    margin: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
}

menu p:hover{
    background-color: green;
    transition: background-color .5s;
}

.sec1{
    flex-direction: column;
    text-align: end;
    display: flex;
    justify-content: start;
    padding-bottom: 50px;
}

.sec1 p,h2{
 width: 70%;
 text-align: center;
}

.sec2{
    background-color: blue;
    flex-direction: column;
    text-align: end;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
}

.sec2  p,h2{
 width: 70%;
 text-align: center;
}

.sec3{
    flex-direction: column;
    text-align: end;
    display: flex;
    justify-content: start;
    padding-bottom: 50px;
}

.sec3 p,h2{
 width: 70%;
 text-align: center;
}
