@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(pexels-felixmittermeier-957024.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


h1{
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

menu{
    display: flex;
    flex-wrap: wrap;
}

menu p{
    margin: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.655);
    border-radius: 3px;
}

menu p:hover{
    background-color: rgba(0, 128, 0, 0.521);
    transition: background-color .5s;
}

section{
    flex-direction: column;
    text-align: end;
    display: flex;
    justify-content: start;
    padding-bottom: 50px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.351);
}

section p,h2{
 width: 70%;
 text-align: center;
}

.sec2{
    background-color: rgba(0, 0, 255, 0.31);
    justify-content: center;
    align-items: flex-end;
 
}




